/*reseteo de estilos predeterminados de los navegadores*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 400;
}
body{
    background-color: #efefef;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-top{
    background-color: #2f302b;
}
.navbar-top a{
    color: #efefef;
}
.navbar-top a:hover{
    color: #ffcc00;    
}
nav{
    background-color: transparent;
}
.nav-link{
    color: #2f302b;
    font-weight: bold;
}
a.nav-link:hover {
	color: #ffcc00;
}
.dropdown-menu{
    background-color: #efefef;
}
.dropdown-item{
    font-weight: bold;
}
.dropdown-item:hover{
    color: #ffcc00;
    background-color: #efefef;
}
.card{
    background-color: #2f302b;
    color: #efefef;
}
.card a{
    color: #efefef;
}
.card-body{
    background-color: transparent;
    padding: 4px;
}
.list-group{
    background-color: transparent;
}
.list-group-item{
    background-color: transparent;
    padding: 2px;
}
.hero{
    background-color: #efefef;
}
.hero img{
    height: 360px;
    width: 360px;
}
.heroine{
    background-color: #2f302b;
}
.heroine h2{
    color: #ffcc00;
    font-family: 'Bebas Neue', cursive;
}
.heroine h5{
    color: #efefef;
}
.her-villian-index-1{
    background-image: url("../img/her-villian.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.him-villian-index-1{
    background-image: url("../img/him-villian.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.henchman{
    background-color: #efefef;
}
.henchman.card-body{
    background-color: transparent;
}
.heroine i{
    color: #ffcc00;
}
.btn-secondary{
    background-color: #2f302b;
}
.btn-secondary:hover{
    background-color: #2f302b;
    color: #ffcc00;
}
.card-light{
    background-color: transparent;
}
.card-light .card-header{
    background-color: transparent;
    color: #2f302b;
    font-family: 'Bebas Neue', cursive;
}
.card-light .card-body{
    color: #2f302b;
}
.brand-img{
    height: 180px;
    width: 180px;
}
.navbar-footer a{
    color: #2f302b;
}
.navbar-footer a:hover{
    color: #ffcc00;    
}